---
import { Image } from "astro:assets";
import "@fontsource/jersey-15";

import TampaHacks1 from "../assets/photos/tampahacks1.jpg";
import TampaHacks2 from "../assets/photos/tampahacks2.jpg";
import TampaHacks3 from "../assets/photos/tampahacks3.jpg";
import TampaHacks4 from "../assets/photos/tampahacks4.jpg";
import TampaHacks5 from "../assets/photos/tampahacks5.jpg";
import TampaHacks6 from "../assets/photos/tampahacks6.jpg";

import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
import CounterspellTampaLogo from "../assets/counterspell-tampa.png";
import TampaHacksLogo from "../assets/tampahacks.png";
---

<Layout>
  <div class="flex flex-col items-center justify-start gap-5">
    <p
      class="my-5 flex flex-col items-center justify-start px-10 text-center text-xl text-white md:text-2xl"
    >
      Creating new opportunities for high school hackers in the Tampa Bay area!
    </p>
    <section class="flex w-4/5 flex-col items-center justify-start gap-5">
      <h2
        class="text-center font-mono text-3xl font-bold text-white md:text-5xl"
      >
        events
      </h2>
      <Event
        name="Counterspell Tampa"
        desc="A beginner friendly game jam, happening in 200+ cities!"
        color="counterspell-pink"
        image={CounterspellTampaLogo}
        link="https://counterspell.hackclub.com/tampa"
      />
      <Event
        name="TampaHacks"
        desc="TampaHacks' inaugural event in August 2024!"
        color="tampahacks-blue"
        image={TampaHacksLogo}
        link="/2024"
      />
    </section>
    <section class="py-20">
      <p class="font-jersey text-center text-3xl text-white md:text-4xl">
        get notified when we have an announcement!
      </p>
      <form id="email-form" class="flex items-center justify-center pt-5">
        <input
          id="email-input"
          name="email"
          type="email"
          class="border-tampahacks-blue bg-tampahacks-gray border-4 px-1 py-2 text-lg text-white md:px-3 md:text-2xl"
          placeholder="ben@tampahacks.com"
        />
        <button
          id="email-button"
          type="submit"
          class="bg-tampahacks-blue border-tampahacks-blue border-4 p-2 text-lg font-bold text-white md:text-2xl"
          >signup</button
        >
      </form>
      <script>
        document
          .getElementById("email-form")
          ?.addEventListener("submit", (event) => {
            event.preventDefault();
            fetch(
              "https://services.leadconnectorhq.com/hooks/TFhJZDO3j6DhF9ljVKym/webhook-trigger/fbc82ba0-6909-46b1-8078-96306cb47bad",
              {
                method: "POST",
                body: JSON.stringify({
                  email: new FormData(
                    document.getElementById("email-form") as HTMLFormElement,
                  ).get("email"),
                }),
                headers: {
                  "Content-Type": "application/json",
                },
              },
            );
            (document.getElementById("email-input") as HTMLInputElement).value =
              "";
            document.getElementById("email-button")!.innerHTML = "signed up!";
          });
      </script>
    </section>
    <section class="m-2 w-4/5 columns-1 md:columns-2 lg:columns-3">
      <Image class="py-2" src={TampaHacks2} alt="Photo from TampaHacks" />
      <Image class="py-2" src={TampaHacks3} alt="Photo from TampaHacks" />
      <Image class="py-2" src={TampaHacks4} alt="Photo from TampaHacks" />
      <Image class="py-2" src={TampaHacks5} alt="Photo from TampaHacks" />
      <Image class="py-2" src={TampaHacks6} alt="Photo from TampaHacks" />
      <Image class="py-2" src={TampaHacks1} alt="Photo from TampaHacks" />
    </section>
  </div>
</Layout>
